@mixin for-size($size)
  @if $size == phone-only
    @media (max-width: 599px)
      @content
  @else if $size == tablet-portrait-up
    @media (min-width: 600px)
      @content
  @else if $size == tablet-landscape-up
    @media (min-width: 900px)
      @content
  @else if $size == desktop-up
    @media (min-width: 1200px)
      @content
// above code aquired from 'https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862'

$color-one: #1d1c28
$color-two: #FF851B
$color-three: #2ECC40
$color-four: #DDDDDD

// typewriter in header
.string-highlight
  color: $color-two
.var-highlight
  color: $color-three
.string-highlight
  color: rgba(253, 149, 90, 0.8)
#typewriter
  color: $color-four
  font-size: 1em
  margin: 0
  font-family: "Courier New"
  &:after
    content: "|"
    animation: blink 500ms linear infinite alternate
  @-webkit-keyframes blink
    0%
      opacity: 0
    100%
      opacity: 1
  @-moz-keyframes blink
    0%
      opacity: 0
    100%
      opacity: 1
  @keyframes blink
    0%
      opacity: 0
    100%
      opacity: 1
// end typewriter in header


body
  background-color: transparentize($color-one, .15)
  margin: 0
  font-family: 'Audiowide', cursive
  header
    background-color: $color-one
    text-align: left
    border: 5px ridge $color-three
    border-radius: 0 0 15px 15px
    h1
      margin: 0
      color: $color-two
      span
        color: $color-three
    h2
      font-size: 1.5em
      margin: 0
      color: $color-four
      #av
        color: $color-two
      #web-dev
        color: $color-three
    ul
      color: $color-four
      list-style: none
      display: flex
      justify-content: space-around
      flex-direction: row
  @include for-size(phone-only)
    header
      h1
        font-size: 2.25em
      ul
        padding: 0
        li
          text-decoration: underline
          color: $color-three
    .capital
      color: $color-two 
    .terminal
      margin-top: 1%
      background: black
      color: white
      h1
        font-size: 1em
        font-family: monospace
        overflow: hidden
        border-right: .15em solid orange
        // margin: 0 auto
        letter-spacing: .15em solid orange
        white-space: nowrap
        animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite
        @keyframes typing
          from
            width: 0
          to
            width: 100%

        @keyframes blink-caret
          from, to
            border-color: transparent
          50%
            border-color: $color-two
    #bio
      padding: 0 3%
      color: $color-four
      h2
        color: $color-two
        #about

          color: $color-three
      p
        font-family: serif
        a
          color: $color-three
    #contact
      padding: 7% 3% 0 0
      h2
        color: $color-two
        margin: 0
        #about
          color: $color-three
      ul
        display: flex
        flex-direction: column
        li
          list-style: none
          a
            color: $color-two
            font-size: 1.25em
            i
              color: $color-three
              padding-right: 3%
    #resume
      padding: 7% 3% 0 0
      color: $color-three
      ul
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        li
          list-style: none
          // width: 100%
  @include for-size(tablet-portrait-up)
